nav{
    width:80%;
    height:98%;
    float:right;
    background-color: #457585;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
    color:white;
}
.navContent{
    width:50%;
    height:100%;
    float:right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navText{
    font-size: 1.5vw;
    padding-top: 3.7%;
    color:white;
    font-family: 'Muli', sans-serif;
}