nav{
    width:80%;
    height:98%;
    float:right;
    background-color: #457585;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
    color:white;
}
.navLogo{
    width:50%;
    height:100%;
    float:left;
}
.navContent{
    width:50%;
    height:100%;
    float:right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navText{
    font-size: 1.7vw;
    padding-top: 3.7%;
    color:white;
    font-family: 'Muli', sans-serif;
}

#products{
    width:100%;
    height: auto;
    float:left;
    display:flex;
    background-color:#D5A16B ;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
    justify-content: space-between;
}

