.aboutCo{
    height: 96%;
    width: 40%;
    color:white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 30%;
    padding-right: 30%;
    float:right;
    background-color: #4E9C68;
    text-align: center;
}
h1{
    font-family: 'Muli', sans-serif;
    font-size:2vw;
}
p{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.1vw;
}