.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgba(78, 156, 104, 0.24);
    width: 90%;
    height: auto;
    display: inline-block;
    margin: 1px;
    padding: 2px 16px;
    margin: 5px 10px;
    color: white;
    font-family: 'Muli', sans-serif;
  }
  .photos{
    border: 1px solid #457585;
    border-radius:100px;
  }
  .photoBox{
    width: 100px;
    height: 100px;
    float: left;
  }
  .productInfo{
    width:75%;
    height: 100px;
    float:left;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  button{
    background-color:rgba(255, 0, 0, 0.5);
    color:white;
  }
  .buttonBox{
    width:10%;
    float:right;
    padding-top: 37px;
    text-align:center;
  }
  i{
color: #457585;
  }